*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-wheel-meta